:root {
	--clr-acc: #64ed1a;
	--clr-black: black;
	--clr-white: white;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background-color: var(--clr-black);
	color: var(--clr-white);
}

button {
	background: transparent;
	border: var(--clr-acc) solid 0.25em;
	padding: 0.5em 1em;
	color: var(--clr-acc);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
	border-radius: 0.5em;
	box-shadow: 0 0 0.3em 0 var(--clr-acc), inset 0 0 0.3em 0 var(--clr-acc);
	cursor: pointer;
	transition: all 200ms ease-in-out;
	font-weight: bold;
	font-size: medium;
	position: relative;
}

button::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--clr-acc);
	transform: perspective(1em) rotateX(30deg) scaleY(0.25);
	opacity: 0.4;
	filter: blur(1em);
	transition: all 250ms ease-in-out;
	pointer-events: none;
}

button:hover,
button:focus {
	color: var(--clr-black);
	background-color: var(--clr-acc);
	box-shadow: 0 0 1em 0 var(--clr-acc);
}

button:hover::after,
button:focus::after {
	opacity: 1;
	filter: blur(2em);
}

button:disabled {
	color: var(--clr-white);
	box-shadow: none;
	pointer-events: none;
}

button:disabled::after {
	opacity: 0;
}

button:disabled:hover,
button:disabled:focus {
	color: var(--clr-white);
	background-color: var(--clr-black);
	box-shadow: none;
}

button:disabled:hover::after,
button:disabled:focus::after {
	opacity: 0;
}

input {
	padding: 0.5em 1em;
	background: transparent;
	border: var(--clr-acc) solid 0.25em;
	border-radius: 0.5em;
	color: var(--clr-white);
	position: relative;
}

input:hover,
input:focus {
	box-shadow: 0 0 1em 0 var(--clr-acc);
}

header > p > span {
	opacity: 0;
	transition: all 250ms ease-in-out;
}

header > p:hover > span {
	opacity: 1;
}

.flex {
	display: flex;
	gap: 2em;
	padding: 2em;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-wrap: wrap;
}

header {
	height: 100vh;
}

.title {
	color: var(--clr-acc);
	font-size: xx-large;
	position: relative;
	padding: 0.5em;
}

.title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: var(--clr-acc);
	transform: scaleX(0);
	transition: all 250ms ease-in-out;
	transform-origin: left;
}

.title::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 1px;
	background-color: var(--clr-acc);
	transform: scaleY(0);
	transition: all 250ms ease-in-out;
	transform-origin: top;
}

.title:hover::after {
	transform: scaleX(1.1);
}

.title:hover::before {
	transform: scaleY(1.1);
}

.project {
	box-shadow: 0 0 1em 0 var(--clr-acc);
	border-radius: 0.5em;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.project-name {
	color: var(--clr-acc);
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4);
	text-align: center;
	transition: all 250ms ease-in-out;
}

.project-image {
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	transition: all 250ms ease-in-out;
}

.project-details {
	transform: translateY(100%);
	opacity: 0;
	transition: all 250ms ease-in-out;
}

.project:hover > .project-name {
	background-color: transparent;
	box-shadow: none;
}

.project:hover > .project-details {
	transform: translateY(0);
	opacity: 1;
}

.project:hover > .project-image {
	filter: brightness(0.2);
}

.profile-btns {
	gap: 3em;
}

.icon {
	height: 2em;
	width: 2em;
}

.random-image {
	/* transform: scaleX(0.7); */
}
